:root {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.background {
  background: #f8f8f8;
}

.sidebar p {
  color: #ffffff;
  font-size: 12px;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 75px;
  height: 100%;
  background: #0d28a6;
}

.navbar {
  position: absolute;
  width: 94.4%;
  height: 70px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgb(175, 170, 170) inset;
}

.sidebar2 {
  position: absolute;
  left: 76px;
  right: 79%;
  height: 100%;
  background: #ffffff;
}

.sidebar2 p {
  padding-left: 10%;
  font-size: 14px;
  font-family: "IBM Plex Sans";
}

.text-cars {
  color: #8a8a8a;
  padding-left: 10%;
  margin-top: 115px;
}

.text-ls {
  padding-left: 10%;
  margin-top: 45px;
}

.logo {
  position: absolute;
  width: 34px;
  height: 34px;
  left: 20px;
  top: 18px;
  background: #cfd4ed;
}

.logo2 {
  position: absolute;
  width: 100px;
  height: 34px;
  left: 24px;
  top: 18px;
  background: #cfd4ed;
}

#search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  width: 244px;
  height: 36px;
  right: 29%;
  top: 17px;
}

.form-control {
  height: 100%;
  border-radius: 3px;
  border-color: #cfd4ed;
}

#user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  right: 3%;
  top: 17px;
  border-radius: 2px;
  background-color: #ffffff;
}

#btn-search {
  height: 100%;
  border-radius: 3px;
  border-color: #0d28a6;
  background-color: #ffffff;
}

.ul {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 5px;
  line-height: 18px;
  color: #ffffff;
}
.img-home {
  display: block;
  padding-top: 120%;
}
.img-truck {
  display: block;
  margin-top: 25px;
}

.card {
  margin-top: 2rem;
  margin-left: 40%;
  width: 18rem;
}

#btn-tambah {
  margin-top: -10%;
  margin-left: 49.5rem;
  border-radius: 2px;
  width: 15%;
  background: #0d28a6;
  text-decoration-color: #ffffff;
}

#btn-hapus {
  width: 45%;
  border-radius: 2px;
  background-color: #ffffff;
  border-color: red;
}

#btn-edit {
  width: 45%;
  border-radius: 2px;
  margin-left: 8%;
  background: #5cb85f;
}

.listCars {
  margin-top: 1%;
  font-weight: 700;
  font-size: 20px;
}

.ukuran {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;
  gap: 16px;
  position: absolute;
  width: 290px;
  height: 36px;
  left: 315px;
  top: 230px;
}

#filter {
  background: #cfd4ed;
  /* Primary/DarkBlue/04 */
  border: 1px solid #0d28a6;
  border-radius: 2px;
}

#profile {
  margin-right: 15rem;
}

#btnsave {
  margin-top: 5rem;
}

#save {
  border-radius: 2px;
  border: 1px solid #0d28a6;
  background-color: #0d28a6;
}

#cancel {
  border-radius: 2px;
  background-color: #ffffff;
}

.menu {
  margin-left: 14rem;
}
